html{
    font-size: 16px;
}

header{
    background-color: #350b10;
    border-bottom: 8px solid #c17f27;
}

.estrenos h1{
    font-family: 'poppins';
    color: #350b10;
    font-size:3rem;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'poppins';
}

li{
    list-style: none;
}

.logo img {
    margin:20px 0 20px 55px;
}

.logo a{
    opacity:1;
}
.logo a:hover{
    opacity:0.4;
}

.navbar {
    padding:70px 0 0;
    letter-spacing: 5px;
    font-size: 1rem;
}

.langWrap img{
    width:30px;
    height:auto;
}

.langWrap li{
    list-style: none;
    padding:0 10px;
}

.langWrap{
    padding:20px 0 0 400px;
    float:right;
}


/* PERSONALIZACION MENU HAMBURGUESA */

.navbar-toggler {
    background-color: #350b10;
}

.navbar-toggler:hover {
    background-color: #832f39;
}

.dropdown-menu {
    background-color: #9d6c2c !important;   
    color: #000 !important;
}

.dropdown-menu a:hover{
    background-color: #350b10 !important;   
}

.dropdown-menu a{
    color: #fff !important;
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 177, 91, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 177, 91, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.portada img{
    width:250px;
    height:auto;
}

.detallesMovie1, .detallesMovie2, .detallesMovie3, .detallesMovie4, .detallesMovie5, .detallesMovie6, .detallesMovie7, .detallesMovie8, .detallesMovie13, .detallesMovie14, .detallesMovie15, .detallesMovie16, .detallesMovie17, .detallesMovie18, .detallesMovie19, .detallesMovie20, .detallesMovie21, .detallesMovie22, .detallesMovie23, .detallesMovie24, .detallesMovie25, .detallesMovie26, .detallesMovie27, .detallesMovie28, .detallesMovie29, .detallesMovie30, .detallesMovie31, .detallesMovie32, .detallesMovie33{
    margin:0 20px 0 0;
}

.semanales{
    background-image:url('../imagenes/banner-semanales.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales h2{
    font-size: 3rem;
}

.semanales p{
    font-size: 1.5rem;
}

.semanales1{
    background-image:url('../imagenes/banner-semanales1.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales1 h1{
    padding:150px 0 0;
    font-size: 5rem;
}

.semanales2{
    background-image:url('../imagenes/banner-semanales2.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales2 h1{
    padding:150px 0 0;
    font-size: 5rem;
}

.semanales3{
    background-image:url('../imagenes/banner-semanales3.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales3 h1{
    padding:150px 0 0;
    font-size: 5rem;
}

.semanales4{
    background-image:url('../imagenes/banner-semanales4.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales4 h1{
    padding:150px 0 0;
    font-size: 5rem;
}

.semanales5{
    background-image:url('../imagenes/banner-semanales5.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales5 h1{
    padding:150px 0 0;
    font-size: 5rem;
}

.semanales6{
    background-image:url('../imagenes/banner-semanales6.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales6 h1{
    padding:150px 0 0;
    font-size: 5rem;
}

.semanales7{
    background-image:url('../imagenes/banner-semanales7.webp');
    background-size:cover;
    background-position-y:center;
    box-shadow: inset 0 0 0 1000px #080808b3;
    height:450px;  
    color:#fff;
}

.semanales7 h1{
    padding:150px 0 0;
    font-size: 5rem;
}

.wrap2{
    width:75%;
    margin:0 auto;
    text-align: center;
}

#domingo img{
    max-width: 250px;
}

#lunes img{
    max-width: 250px;
}

#martes img{
    max-width: 250px;
}

#miercoles img{
    max-width: 250px;
}

#jueves img{
    max-width: 250px;
}

#viernes img{
    max-width: 250px;
}

#sabado img{
    max-width: 250px;
}

#pestanas{
    cursor: pointer;

} 

#pestanas a{
    color:#000;
    border-top: 0;
    border-bottom: 1px solid rgb(166, 163, 163);
    border-left: 1px solid rgb(166, 163, 163);
    border-right: 1px solid rgb(166, 163, 163);
}

#pestanas a:hover{
    background-color: #e7e5e2;
}

.activo{
    background-color: #d3c2aa;
}

main h4 {
    font-size: 0.9rem;
}

main hr{
    width:80%;
}

main h1{
    font-size:3rem;
    margin:0 0 0 55px;
}

main p{
    padding:0 20% 0 0;
}

.reparto h4{
    font-size: 0.8rem;
}
.reparto hr{
    width:100% !important;
    padding:0 0 40px;
}

.reparto button{
    margin:20px 10px;
}

.banner-size img{
    width:30%;
}

.detalles hr{
    width:90%;
    margin:30px auto;
    display: block;
}




.testimonials.owl-carousel .owl-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

.item {
    border: 1px solid #686767;
    border-radius: 16px;
    padding: 15px;
    /*cursores web: https://www.w3schools.com/cssref/pr_class_cursor.asp*/
    /*permite mover los recuadros*/
    cursor: move;
}

.item h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 15px 0;
    line-height: 1.3;
    color: #979191;
}

.item p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.3;
}

.item2 p {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
    line-height: 1.3;
    
}

.testimonials_container {
    display: flex;
    /*padding: 16px;*/
    margin: 0 5%;
    justify-content: center;
    align-items: center;
}

.owl-item {
    text-align: center;
}

.owl-prev {
	position: absolute;
	top: 23%;
	left: -3%;
	background: url(../imagenes/flechas.png) no-repeat;
}
.owl-next{
	position: absolute;
	top:23%;
	right: -4%;
	background: url(../imagenes/flechas.png) no-repeat -39px 0px;
}

#section-counter {
    position: relative;
    z-index: 0;
}

.ftco-counter {
    overflow-x: hidden;
    position: relative;
    padding: 4em 0;
    background: #fff;
}


footer{
    background-color: #350b10;
    border-top: 8px solid #c17f27;
}

footer h2{
    font-size: 1.5rem;
}

footer a{
    text-decoration: none;
    color:#fff;
}

footer a:hover{
    color:#c17f27;
}

footer li{
    list-style: none;
}

footer ul a{
    opacity:1;

}
footer ul a:hover{
    opacity:0.4;

}

.redes li{
    display: inline-block;
    padding:0 15px 0 0;
}

.menu-footer li{
    display: inline-block;
}

.wrap-encuesta{
    margin:0 auto;
    width:30%;
}

.encuesta{
    display: none;
}


/*Responsive*/


/*extra small devices (landscape phones, 576px and down)*/

@media (max-width: 576px){
    .director{
        margin:0 0 0 50px;
    }

    .reparto img{
        padding:0 0 30px 0;
    }

    .logo img{
        padding-top: 20px;
        display:block;
        margin:0 auto;
    }
}
/*small devices (landscape phones, 576px and up)*/

@media (max-width: 576px){
    .wrap-encuesta{
        width:80%;
    }
    .ocultar{
        display: none;
    }

    .reparto h4{
        margin:20px 0 10px;
    }

    .dulc p{
        padding:0 30px;
    }

    .nos p{
        padding:0 30px;
    }

    .conozca h2{
        text-align: center;
    }

    .conozcaCine{
        width:80%;
        margin:30px auto;
    }

}

@media (min-width: 320px) and (max-width: 575px){
    .wrapCine{
         margin:0 5% !important;    
    }

    .wrapCine button {
        margin:0 auto;
        display:block;
    }

    .detallesMovie1, .detallesMovie2, .detallesMovie3, .detallesMovie4, .detallesMovie5, .detallesMovie6, .detallesMovie7, .detallesMovie8, .detallesMovie13, .detallesMovie14, .detallesMovie15, .detallesMovie16, .detallesMovie17, .detallesMovie18, .detallesMovie19, .detallesMovie20, .detallesMovie21, .detallesMovie22, .detallesMovie23, .detallesMovie24, .detallesMovie25, .detallesMovie26, .detallesMovie27, .detallesMovie28, .detallesMovie29, .detallesMovie30, .detallesMovie31, .detallesMovie32, .detallesMovie33{
        margin:0 50px 0 0;
    }

    .tz-gallery img{
        max-width: 200px !important;
    }

    .estrenopadding{
    padding:0 0 50px 0 !important;    
    }

    #dia1, #dia2, #dia3, #dia4, #dia5, #dia6, #dia7{
        width:100%;
    }

}

@media (min-width: 320px) and (max-width:335px){
    .semanales img{
        max-width: 40%;
    }
}

@media (min-width: 320px) and (max-width: 375px){

    .semanales1, .semanales2, .semanales3, .semanales4, .semanales5, .semanales6, .semanales7{
        height:150px; 
    }

    .semanales1 h1, .semanales2 h1, .semanales3 h1, .semanales4 h1, .semanales5 h1, .semanales6 h1, .semanales7 h1{
        font-size: 1.2rem !important;
        padding:60px 0 0;
    }

    .detalles h1{
        font-size: 1.2rem !important;
    }

    .acerca h1{
        font-size: 1.2rem !important;
    }

    .conozca h2, .comentarios h2{
        font-size: 1.1rem !important;
    }

    .estrenos h1{
        font-size: 1.3rem !important;
    }

    .semanales h2{
        font-size: 1.4rem !important;
    }
    
    .semanales p{
        font-size: 0.9rem !important;
    }

}

@media (min-width: 376px) and (max-width: 575px){

    .semanales1, .semanales2, .semanales3, .semanales4, .semanales5, .semanales6, .semanales7{
        height:150px; 
    }

    .semanales1 h1, .semanales2 h1, .semanales3 h1, .semanales4 h1, .semanales5 h1, .semanales6 h1, .semanales7 h1{
        font-size: 1.4rem !important;
        padding:60px 0 0;
    }

    .detalles h1{
        font-size: 1.4rem !important;
    }

    .acerca h1{
        font-size: 1.4rem !important;
    }

    .conozca h2, .comentarios h2{
        font-size: 1.3rem !important;
    }

    .estrenos h1{
        font-size: 1.7rem !important;
    }

    .semanales h2{
        font-size: 1.5rem !important;
    }
    
    .semanales p{
        font-size: 1rem !important;
    }

    .semanales img{
        max-width: 50%;
    }

}

/*medium devices (tablets, 768px and up)*/

@media (max-width: 768px){
    .portada img{
        margin:0 auto 50px;
        display:block;
    }

    .navbar{
        padding-bottom: 20px;
    }

    .wrap-encuesta{
        width:50%;
    }

    .detalles img{
        margin:0 auto 80px;
        display: block;
    }

    footer h2{
        font-size: 2rem;
    }

    .wrap2 h2{
        font-size: 1.5rem;
    }

    .wrap2 p{
        font-size: 1.1rem;
    }

    .tz-gallery img{
        max-width: 250px;
    }

    .estrenos h1{
        font-size: 1rem;
    }

    


}

@media (min-width: 576px) and (max-width: 768px){

    .semanales1, .semanales2, .semanales3, .semanales4, .semanales5, .semanales6, .semanales7{
        height:250px; 
    }

    .semanales1 h1, .semanales2 h1, .semanales3 h1, .semanales4 h1, .semanales5 h1, .semanales6 h1, .semanales7 h1{
        font-size: 2.1rem !important;
        padding:100px 0 0;
    }

    .wrap2 {
        width:90%;
    }

    .conozca h2{
        text-align: center;
    }

    .wrapCine{
        margin:0 5% !important;    
    }

}

@media (min-width: 576px) and (max-width: 600px){
    lottie-player{
        display:none;
    }


}

@media (min-width: 320px) and (max-width: 768px){

    .detalles h1{
        text-align: center;
        margin:0 !important;
    }

}

@media (min-width: 481px) and (max-width:768px){

    .detalles h1{
        font-size: 1.7rem !important;
    }

    .nos{
        padding:0 5% !important;
    }

}



/*large devices (desktops, 992px and up)*/

@media (max-width: 992px){
    .reparto{
        text-align: center;
        padding:40px 0 0;
    }

    .reparto h4{
        font-size: 1rem !important;
    }

    #domingo img{
        max-width: 200px;
    }
    
    #lunes img{
        max-width: 200px;
    }
    
    #martes img{
        max-width: 200px;
    }
    
    #miercoles img{
        max-width: 200px;
    }
    
    #jueves img{
        max-width: 200px;
    }
    
    #viernes img{
        max-width: 200px;
    }
    
    #sabado img{
        max-width: 200px;
    }

    .estrenos h1{
        font-size: 3rem;
    }

    .vipCentro h2{
        text-align: center;
    }


}

@media (min-width: 576px) and (max-width: 800px){
.estrenos h1{
    font-size: 2.2rem;
}

}

@media (min-width: 576px) and (max-width: 610px){ 
    .semanales h1{
        font-size: 2.4rem;
    }
    
    .semanales p{
        font-size: 1.2rem;
    }

    #dia1, #dia2, #dia3, #dia4, #dia5, #dia6, #dia7{
        width:20px;
    }

    #dia1 a, #dia2 a, #dia3 a, #dia4 a, #dia5 a, #dia6 a, #dia7 a{
        font-size:0.8rem;    
    }
}

@media (min-width: 611px) and (max-width: 800px){ 
    .semanales h2{
        font-size: 2.5rem;
    }
    
    .semanales p{
        font-size: 1.3rem;
    }
    
}

@media (min-width: 769px) and (max-width: 991px){

    .semanales1, .semanales2, .semanales3, .semanales4, .semanales5, .semanales6, .semanales7{
        height:350px; 
    }

    .semanales1 h1, .semanales2 h1, .semanales3 h1, .semanales4 h1, .semanales5 h1, .semanales6 h1, .semanales7 h1{
        font-size: 3rem !important;
    }

    .wrap2 {
        width:90%;
    }

}


@media (min-width: 576px) and (max-width: 991px){
    .nos{
        width:100% !important;
    }
    
    .cineAnimacion {
        margin:40px 0 0 60% !important;
        display: block !important;
    }

}

@media (min-width: 992px) and (max-width: 1024px){
    .cineAnimacion{
        padding:100px 0 0;
    }

    .detallesMovie1, .detallesMovie2, .detallesMovie3, .detallesMovie4, .detallesMovie5, .detallesMovie6, .detallesMovie7, .detallesMovie8, .detallesMovie13, .detallesMovie14, .detallesMovie15, .detallesMovie16, .detallesMovie17, .detallesMovie18, .detallesMovie19, .detallesMovie20, .detallesMovie21, .detallesMovie22, .detallesMovie23, .detallesMovie24, .detallesMovie25, .detallesMovie26, .detallesMovie27, .detallesMovie28, .detallesMovie29, .detallesMovie30, .detallesMovie31, .detallesMovie32, .detallesMovie33{
        margin:0 10px 0 0;
        font-size: 0.7rem;
    }

    .comprarMovie1, .comprarMovie2, .comprarMovie3, .comprarMovie4, .comprarMovie5, .comprarMovie6, .comprarMovie7, .comprarMovie8, .comprarMovie13, .comprarMovie14, .comprarMovie15, .comprarMovie16, .comprarMovie17, .comprarMovie18, .comprarMovie19, .comprarMovie20, .comprarMovie21, .comprarMovie22, .comprarMovie23, .comprarMovie24, .comprarMovie25, .comprarMovie26, .comprarMovie27, .comprarMovie28, .comprarMovie29, .comprarMovie30, .comprarMovie31, .comprarMovie32, .comprarMovie33{
        font-size: 0.7rem;
    }

    .semanales h2{
        font-size: 2.5rem;
    }
    
    .semanales p{
        font-size: 1.3rem;
    }


}


/*X-large devices (large desktops, 1200px and up)*/

@media (max-width: 1200px){
    .reparto h4{
        font-size: 0.7rem;
    }

    footer h2{
        font-size: 1.1rem;
    }

}


/*XX-large devices (larger desktops, 1400px and up)*/

@media (min-width: 1400px){


}

@media (max-width: 1199.98px) {
    .ftco-counter {
        background-position: center center !important;
    }
}

.ftco-counter .block-18 {
    display: block;
    width: 100%;
}

@media (max-width: 991.98px) {
    .ftco-counter .block-18 {
        margin-bottom: 2em;
    }
}

.ftco-counter .text {
    position: relative;
}

@media (max-width: 767.98px) {
    .ftco-counter .text {
        width: 100%;
    }
}

.ftco-counter .text .number {
    line-height: 1;
    font-weight: 700;
    font-size: 38px;
    color: #650b15;
    display: block;
    margin-bottom: 10px;
}

.ftco-counter .text span {
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
        margin-bottom: 20px;
    }
}