.cursor{
  cursor: pointer;
}

/* caja descriptiva del vídeo */
#container {
  border-radius: 8px;
  max-width: 450px;
  height: auto;
  padding: 50px;
  background: white;
  margin: 100px auto;
  box-shadow: 0 8px 6px -6px white;
}


/* botón ver video*/



/* clses lightbox */
.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.lightbox-container {
  position: relative;
  max-width: 960px;
  margin: 7% auto;
  padding: 0 3%;
  height: auto;
  z-index: 10;
}
.lightbox-content {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}
.lightbox-close {
  /*background: transparent;*/
  background-color: #350b10;
  position: absolute;
  /* alinear al centro el boton cerrar:  */
  /*left:40%; */
  right: 7%;
  max-width: 960px;
  font-weight: 300;
  font-size: 20px;
  border: none;
  color: #fff;
  /*altura del boton X*/
  top: -60px;
  /*display: block;*/  
}

.lightbox-close:hover {
  background-color: #49131a;
}

@media (max-width: 575px){
  .lightbox-container {
  	 margin-top: 150px !important;
  }
}

/*
@media screen (max-width: 768px) {
  .lightbox-container {
    margin-top: 10%;
  }
}
*/



/* Vídeo responsive */
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
@media (max-width: 575px){
.video-container{
    width: 100% !important;
    margin:0 auto;
  }
}




