

html {
  /*comportamiento suave del scroll*/
  scroll-behavior: smooth;
}

/*posiciona el boton scrolltop a la derecha y le brinda posicion fija = fixed*/
.goto-top{
  position:fixed;
  bottom:20px;
  right:20px;
 }





